= simple_form_for(@user, html: {method: :put, :class => "form-vertical"}) do |f|

  %div
    = f.input :email
  %div
    = f.input :name
  %div
    = f.input :second_name
  %div
    = f.label :birth_date
    %br/
    = f.date_select :birth_date, start_year: Time.now.year - 100 , end_year: Time.now.year, include_blank: true

  %div
    = f.submit
