%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th
        e-mail
      %th
        Name
      %th
        Second Nmae
      %th
        Birth Date
      %th
        Role
  - @users.each do |user|
    %tr
      %td
        = user.email
      %td
        = user.name
      %td
        = user.second_name
      %td
        = user.birth_date
      %td
        - user.roles_name.each do |r|
          = r.humanize if user.roles

      = td_user_crud_action_links(user, :show)
      = td_user_crud_action_links(user, :edit)
      = td_user_crud_action_links(user, :destroy)
