%table
  %thead
    %tr
      %th
        e-mail
      %th
        Name
      %th
        Second Nmae
      %th
        Birth Date
      %th
        Role
  - @users.each do |user|
    %tr
      %td
        = user.email
      %td
        = user.name
      %td
        = user.second_name
      %td
        = user.birth_date
      %td
        = user.roles_name.join(", ").humanize
      %td
        = render_link_to_edit(user)
      %td
        = link_to "Show", user_path(user)
      %td
        = link_to "Destroy", user_path(user), method: :delete, confirm: "Are You Sure ?"

